In [136]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
import matplotlib.pylab as plt
import seaborn as ans
pd.set_option('display.max_columns', 200)# Необходим чтобы видеть каждый столбец в нашем наборе данных. В данном случаии 200 сталбцов что вполне достаточно

/kaggle/input/rollercoaster-database/coaster_db.csv
/kaggle/input/rollercoaster-database/flipflap.jpg

In [137]:
df = pd.read_csv('/kaggle/input/rollercoaster-database/coaster_db.csv')

In [138]:
df.shape

(1087, 56)

In [139]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,50 ft (15 m),NaN,gravity,NaN,NaN,Coney Island Cyclone Site,1:00,1600 riders per hour,2.9,LaMarcus Adna Thompson,30°,43 ft (13 m),NaN,NaN,NaN,Gravity pulled coaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884,40.5740,-73.9780,Wood,1884-06-16,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 1 across in ...,NaN,NaN,NaN,12,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 2 across in ...,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,Switchback Railway,NaN,NaN,NaN,1910,NaN,Giant Racer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [140]:
df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

- **coaster_name** - название горки
- **Length** - Длина
- **Speed** - Скорость
- **Location** - Местоположение
- **Status** - Статус
- **Opening date** - Дата открытия
- **Type** - Тип
- **Manufacturer** - Производитель
- **Height restriction** - Ограничение по росту
- **Model** - Модель
- **Height** - Высота
- **Inversions** - Инверсии
- **Lift/launch system** - Система подъема/запуска
- **Cost** - Стоимость
- **Trains** - Поезда
- **Park section** - Секция парка
- **Duration** - Продолжительность
- **Capacity** - Вместимость
- **G-force** - G-сила
- **Designer** - Дизайнер
- **Max vertical angle** - Максимальный вертикальный угол
- **Drop** - Падение
- **Soft opening date** - Дата мягкого открытия
- **Fast Lane available** - Fast Lane доступен
- **Replaced** - Заменен
- **Track layout** - Расположение трассы
- **Fastrack available** - Fastrack доступен
- **Soft opening date.1** - Дата мягкого открытия (дублирование)
- **Closing date** - Дата закрытия
- **Opened** - Открыт
- **Replaced by** - Заменен на
- **Website** - Вебсайт
- **Flash Pass Available** - Flash Pass доступен
- **Must transfer from wheelchair** - Необходимость переходить с инвалидной коляски
- **Theme** - Тема
- **Single rider line available** - Очередь для одиночных посетителей доступна
- **Restraint Style** - Стиль ограничителя
- **Flash Pass available** - Flash Pass доступен (дублирование)
- **Acceleration** - Ускорение
- **Restraints** - Ограничители
- **Name** - Имя
- **year_introduced** - Год введения
- **latitude** - широта
- **longitude** - долгота
- **Type_Main** - Основной тип
- **opening_date_clean** - Открытие, дата (очищенная)
- **speed1** - Скорость1
- **speed2** - Скорость2
- **speed1_value** - Значение скорости1
- **speed1_unit** - Единица измерения скорости1
- **speed_mph** - Скорость в милях в час
- **height_value** - Значение высоты
- **height_unit** - Единица измерения высоты
- **height_ft** - Высота в футах
- **Inversions_clean** - Инверсии (очищенные)
- **Gforce_clean** - G-сила (очищенная)

In [141]:
df.describe()

,Inversions,year_introduced,latitude,longitude,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
count,932.000000,1087.000000,812.000000,812.000000,937.000000,937.000000,965.000000,171.000000,1087.000000,362.000000
mean,1.547210,1994.986201,38.373484,-41.595373,53.850374,48.617289,89.575171,101.996491,1.326587,3.824006
std,2.114073,23.475248,15.516596,72.285227,23.385518,16.678031,136.246444,67.329092,2.030854,0.989998
min,0.000000,1884.000000,-48.261700,-123.035700,5.000000,5.000000,4.000000,13.100000,0.000000,0.800000
25%,0.000000,1989.000000,35.031050,-84.552200,40.000000,37.300000,44.000000,51.800000,0.000000,3.400000
50%,0.000000,2000.000000,40.289800,-76.653600,50.000000,49.700000,79.000000,91.200000,0.000000,4.000000
75%,3.000000,2010.000000,44.799600,2.778100,63.000000,58.000000,113.000000,131.200000,2.000000,4.500000
max,14.000000,2022.000000,63.230900,153.426500,240.000000,149.100000,3937.000000,377.300000,14.000000,12.000000

##  Шаг 2: Подготовка данных
* Удаление ненужных столбцов и строк
* идентификация дублированных столбцов
* Оставшиеся столбцы
* Создание функции

# Пример как отбрасываються одиночные столбцы
#df.drop(['Opening date'], axis=1)

In [142]:
# Пример удаления столбцов
# df.drop(['Opening date'], axis=1)

In [143]:
# ----Удаляем лишние столбцы----
# df.columns затем  df[]
df = df[['coaster_name',
    # 'Length', 'Speed',
    'Location', 'Status',
    # 'Opening date',
    #   'Type',
    'Manufacturer',
#     'Height restriction', 'Model', 'Height',
#        'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
#        'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
#        'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
#        'Track layout', 'Fastrack available', 'Soft opening date.1',
#        'Closing date',
#     'Opened', 
    # 'Replaced by', 'Website',
#        'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
#        'Single rider line available', 'Restraint Style',
#        'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced',
        'latitude', 'longitude',
    'Type_Main',
       'opening_date_clean',
    #'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 
    #'height_value', 'height_unit',
    'height_ft',
       'Inversions_clean', 'Gforce_clean']].copy()

In [144]:
df.columns

Index(['coaster_name', 'Location', 'Status', 'Manufacturer', 'year_introduced',
       'latitude', 'longitude', 'Type_Main', 'opening_date_clean', 'speed_mph',
       'height_ft', 'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [145]:
# Этот код конвертирует столбец 'opening_date_clean' в формат datetime и перезаписывает его в исходном DataFrame (df)
df['opening_date_clean'] = pd.to_datetime(df['opening_date_clean'])

In [146]:
# Переменовапние столбцов
df = df.rename(columns = {'coaster_name': 'Coaster_name',
                     'year_introduced':'Year_introduced',
                     'latitude':'Latitude',
                     'longitude':'Longitude',
                     'opening_date_clean': 'Opening_date_clean',
                     'speed_mph':'Speed_mph',
                     'height_ft': 'Height_ft',
                      'Gforce_clean':'Gforce'})

In [147]:
df.isna().sum()

Coaster_name            0
Location                0
Status                213
Manufacturer           59
Year_introduced         0
Latitude              275
Longitude             275
Type_Main               0
Opening_date_clean    250
Speed_mph             150
Height_ft             916
Inversions_clean        0
Gforce                725
dtype: int64

In [148]:
df.head(2)

,Coaster_name,Location,Status,Manufacturer,Year_introduced,Latitude,Longitude,Type_Main,Opening_date_clean,Speed_mph,Height_ft,Inversions_clean,Gforce
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.574,-73.978,Wood,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.578,-73.979,Wood,1895-01-01,NaN,NaN,1,12.0

# Опредиляем отсутствующие значания и то как часто они встричаются

In [149]:
# Команда дял определения отсутствующих значений или нулевых isna() Если значение пропущено, она возвращает значение True, в противном случае False
# sum(): эта функция вызывается после df.isna(), и ее цель - подсчитать количество True (пропущенных значений) для каждого столбца.
df.isna().sum()

Coaster_name            0
Location                0
Status                213
Manufacturer           59
Year_introduced         0
Latitude              275
Longitude             275
Type_Main               0
Opening_date_clean    250
Speed_mph             150
Height_ft             916
Inversions_clean        0
Gforce                725
dtype: int64

# Определяем дублирующие значения

In [150]:
# Полученный результат представляет собой датафрейм, который содержит только эти дублированные строки.
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Coaster_name, Location, Status, Manufacturer, Year_introduced, Latitude, Longitude, Type_Main, Opening_date_clean, Speed_mph, Height_ft, Inversions_clean, Gforce]
Index: []

In [151]:
#  В итоге, результатом выполнения строки кода будет новый датафрейм, содержащий только дублированные строки по указанному столбцу.
df.loc[df.duplicated(subset = ['Coaster_name'])]

,Coaster_name,Location,Status,Manufacturer,Year_introduced,Latitude,Longitude,Type_Main,Opening_date_clean,Speed_mph,Height_ft,Inversions_clean,Gforce
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1927,42.8617,-79.0598,Wood,1926-01-01,60.0,NaN,0,4.0
60,Derby Racer,Revere Beach,Removed,Fred W. Pearce,1937,42.4200,-70.9860,Wood,1911-01-01,NaN,NaN,0,NaN
61,Blue Streak (Conneaut Lake),Conneaut Lake Park,Closed,NaN,1938,41.6349,-80.3180,Wood,1938-05-23,50.0,NaN,0,NaN
167,Big Thunder Mountain Railroad,Other,NaN,Arrow Development (California and Florida)Dyna...,1980,NaN,NaN,Steel,NaT,35.0,NaN,0,NaN
237,Thunder Run (Canada's Wonderland),Canada's Wonderland,Operating,Mack Rides,1986,43.8427,-79.5423,Steel,1981-05-23,39.8,32.8,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,Lil' Devil Coaster,Six Flags Great Adventure,Operating,Zamperla,2021,40.1343,-74.4434,Steel,1999-01-01,NaN,NaN,0,NaN
1064,Little Dipper (Conneaut Lake Park),Conneaut Lake Park,Operating,Allan Herschell Company,2021,41.6343,-80.3165,Steel,1950-01-01,NaN,NaN,0,NaN
1080,Iron Gwazi,Busch Gardens Tampa Bay,Under construction,Rocky Mountain Construction,2022,28.0339,-82.4231,Steel,NaT,76.0,NaN,2,NaN
1082,American Dreier Looping,Other,NaN,Anton Schwarzkopf,2022,NaN,NaN,Steel,NaT,53.0,NaN,3,4.7
1084,Tron Lightcycle Power Run,Other,NaN,Vekoma,2022,NaN,NaN,Steel,2016-06-16,59.3,NaN,0,4.0

In [152]:
# Результатом выполнения данной строки кода будет новый датафрейм, содержащий только дублированные строки по указанным столбцам.
df = df.loc[df.duplicated(subset=['Coaster_name','Location','Opening_date_clean'])] \
   .reset_index(drop=True)

In [153]:
df.shape

(97, 13)

## Шаг 3: Понимание особенностей
(Одномерный анализ)
* Построение графиков распределения объектов
* Гистограмма
* KDE
* Коробочный график

In [154]:
df['Year_introduced'].value_counts()

2011    7
2019    7
2007    6
2012    4
2009    4
2014    4
2010    4
2005    3
1999    3
2008    3
2022    3
1993    3
2015    3
2016    3
2018    3
2021    3
2003    2
2017    2
2004    2
2002    2
1992    2
2000    2
1998    2
1986    2
1995    2
1987    2
1989    2
1990    1
1938    1
1980    1
1988    1
1937    1
2013    1
2001    1
1994    1
1996    1
1997    1
2006    1
1927    1
Name: Year_introduced, dtype: int64